@model BeekeepingStore.Models.ViewModels.HoneyViewModel
@using BeekeepingStore.Extensions
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        var MakeDLL = $("#Make");
        var ModelDLL = $("#Model");
        //ModelDLL.prop('disable', true);

        MakeDLL.change(function () {
            if ($(this).val() == "0") {
                ModelDLL.prop('disable', true);
                ModelDLL.val("0");
            }
            else {

                $.ajax({
                    url: "/api/models/" + $(this).val(),
                    method: "get",
                    success: function (data) {
                        ModelDLL.prop('disable', false);
                        ModelDLL.empty();
                        ModelDLL.append($('<option/>', { value: '0', text: '--Select Model--' }));
                        $(data).each(function (index, item) {
                            ModelDLL.append($('<option/>', { value: item.id, text: item.name }))
                        });
                    }
                });

            }
        });
    });
</script>

<br />
<br />
<h2 class="text-info">Update a product</h2>
<form method="post" enctype="multipart/form-data" asp-action="Edit">
    <input hidden asp-for="Honey.Id" />
    <input hidden asp-for="Honey.ImagePath" />
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Makes"></label>
        </div>
        <div class="col-4">
            <select asp-for="Honey.MakeID" asp-items="Model.Makes.ToSelectListItem()" class="form-control" id="Make"></select>
            <span asp-validation-for="Honey.MakeID" class="text-danger"></span>
        </div>
        <div class="col-auto">
            <label asp-for="Honey.ImagePath"></label>
        </div>
        <div class="col-4">
            <input asp-for="Honey.ImagePath" type="file" name="files" class="form-control" />
            <span asp-validation-for="Honey.ImagePath" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Models"></label>
        </div>
        <div class="col-4">
            <select asp-for="Honey.ModelID" asp-items="Model.Models.ToSelectListItem()" class="form-control" id="Model"></select>
            <span asp-validation-for="Honey.ModelID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Honey.Year"></label>
        </div>
        <div class="col-4">
            <input asp-for="Honey.Year" class="form-control" />
            <span asp-validation-for="Honey.Year" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Honey.Price"></label>
        </div>
        <div class="col-4">
            <input asp-for="Honey.Price" class="form-control" />
            <span asp-validation-for="Honey.Price" class="text-danger"></span>
        </div>
        <div class="col-1">
            <label asp-for="Honey.Curency"></label>
        </div>
        <div class="col-4">
            <select asp-for="Honey.Curency" asp-items="Model.Currencies.ToSelectListItem()" class="form-control"></select>
            <span asp-validation-for="Honey.Curency" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Honey.Details"></label>
        </div>
        <div class="col-4">
            <textarea asp-for="Honey.Details" class="form-control"></textarea>
            <span asp-validation-for="Honey.Details" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Honey.SellerName"></label>
        </div>
        <div class="col-4">
            <input asp-for="Honey.SellerName" class="form-control" />
            <span asp-validation-for="Honey.SellerName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Honey.SellerEmail"></label>
        </div>
        <div class="col-4">
            <input asp-for="Honey.SellerEmail" class="form-control" />
            <span asp-validation-for="Honey.SellerEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Honey.SellerPhone"></label>
        </div>
        <div class="col-4">
            <input asp-for="Honey.SellerPhone" class="form-control" />
            <span asp-validation-for="Honey.SellerPhone" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Update" />
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>
</form>

