@model IEnumerable<BeekeepingStore.Models.Make>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">This is a products of honey</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info" asp-action="Create">Add new products</a>
    </div>
    <br /><br />
    <div class="col-12">
        <table class="table table-striped border">
            <tr class="table-info">
                <th>
                    <h6 class="font-weight-bold">Products </h6>
                   @* @Html.DisplayNameFor(m => m.Name)*@
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </tr>
            }
        </table>
    </div>
</div>

